<section id="widget-grid" ng-controller="IndexParamTypeController">
    <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3"
             data-widget-editbutton="false">
            <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i>
                    </span>

                <h2>参数类型列表</h2>
            </header>

            <!-- widget div-->
            <div>
                <div class="widget-body no-padding">
                    <div class="dt-toolbar">

                        <div class="col-xs-6 col-sm-12">
                            <form class="navbar-form">
                                <div class="form-group">
                                    <p class="form-control-static" style="">类型代码:</p>
                                    <input name="code" ng-model="code">
                                </div>
                                &nbsp;
                                <div class="form-group">
                                    <p class="form-control-static" style="">类型名称:</p>
                                    <input name="name" ng-model="name">
                                </div>
                                &nbsp;
                                <button class="btn btn-default" ng-click="search()">
                                    <span class="glyphicon glyphicon-zoom-in"></span> 查询
                                </button>
                                <button class="btn btn-default" ng-click="reset()">
                                    <span class="glyphicon glyphicon-repeat"></span> 重置
                                </button>
                                <a class="btn btn-default" ng-href="#/new"><span
                                        class="glyphicon glyphicon-pencil"></span>添加</a>
                            </form>
                        </div>


                    </div>
                    <table id="datatable_tabletools"
                           class="table table-striped table-bordered table-hover dataTable ">
                        <thead>
                        <tr>
                            <th>类型代码</th>
                            <th>类型名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="paramType in page.list track by $index">
                            <td>{{paramType.code}}</td>
                            <td>{{paramType.name}}</td>
                            <td><a ng-href="#/{{paramType.id}}/edit">修改</a> | <a ng-click="delete(paramType.id)">删除</a> |
                                <a ng-click="showParamList($index,paramType)">字典</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="dt-toolbar-footer">
                        <div class="col-xs-6 col-sm-12">
                            <main-page page="page"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


<section id="widget-grid1" ng-controller="IndexParamController">
    <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3"
             data-widget-editbutton="false">
            <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i>
                    </span>

                <h2>参数列表</h2>
            </header>

            <!-- widget div-->
            <div>
                <div class="widget-body no-padding">
                    <div class="dt-toolbar">
                        <div class="col-xs-6 col-sm-12">
                            <a class="btn btn-default"
                               ng-click="addParam(paramType.id,paramType.code)"><span
                                    class="glyphicon glyphicon-pencil"></span>添加</a>
                        </div>
                    </div>
                    <table id="datatable_tabletools"
                           class="table table-striped table-bordered table-hover dataTable "
                            >
                        <thead>
                        <tr>
                            <th>参数代码</th>
                            <th>参数名称</th>
                            <th>参数值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in page.list track by $index" class="move" data-key="{{param.id}}">
                            <td>{{param.code}}</td>
                            <td>{{param.name}}</td>
                            <td>{{param.value}}</td>
                            <td><a ng-href="#/{{param.id}}/paramEdit">修改</a> | <a
                                    ng-click="delete(param.id,param.typeCode)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="dt-toolbar-footer">
                        <div class="col-xs-6 col-sm-12">
                            <main-page page="page"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>